n8n-workflow/Daily AI News Digest - Morning Email Automation/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        -112
      ],
      "id": "3b72ca8e-ad56-48a8-9608-26a0e60ac440",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines?categories=technology,business&language=en&apiKey=9fab90bf2c7642aa9afa78f36d3d30b1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -208,
        -112
      ],
      "id": "c90bf646-d2f1-463d-84a5-1df9289f9dc8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a news summarizer. Below are today's top news articles in Tech & AI and Business:\n\n{{ $json.articles.map(a => `- ${a.title}: ${a.description}`).join('\\n') }}\n\nCreate a beautiful HTML email digest with top 5 stories. Use this exact HTML format:\n\n<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #f9f9f9; padding: 20px;\">\n  <h1 style=\"color: #2c3e50; border-bottom: 3px solid #3498db; padding-bottom: 10px;\">🗞️ Daily News Digest</h1>\n  \n  For each story use this format:\n  <div style=\"background: white; border-radius: 8px; padding: 15px; margin: 10px 0; border-left: 4px solid #3498db;\">\n    <h3 style=\"color: #2c3e50; margin: 0 0 8px 0;\">📌 Story Title</h3>\n    <p style=\"color: #555; line-height: 1.6;\">Summary here</p>\n  </div>\n  \n  <p style=\"color: #888; font-size: 12px; text-align: center;\">Powered by n8n automation</p>\n</div>\n\nReturn ONLY the HTML, no extra text.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        0,
        -112
      ],
      "id": "a4e82f74-cda6-4c27-a3ef-b441332c785d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -80,
        96
      ],
      "id": "329169f5-946a-4282-a07f-8a5b1ac64985",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Ll6TwxFtyrAigl4S",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "rajkumar.rk0104@gmail.com",
        "subject": "=🗞️ Daily News Digest - {{ $now.format('dd MMM yyyy') }}",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        368,
        32
      ],
      "id": "c540ba40-e5d5-4d5a-9b90-3c63d68ee4a2",
      "name": "Send a message",
      "webhookId": "f2fca628-e855-4113-8196-118473c739b7",
      "credentials": {
        "gmailOAuth2": {
          "id": "BoG2ZYC8VXLJraMz",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ea5ef4d9-efc0-42cf-a04c-47364152ddae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5384f86422c5fea3a1d7b7b5ee01186a2249c59466e9a0804940bbe8fd58c398"
  },
  "id": "OEO80fjUzhtcHvK4",
  "tags": []
}